*{
    background-color: azure;
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;


}
:root{
    --text-color: #000000;
    --bg-color: #abb4c8;
    --main-color: #0e5c80;
    --big-font: 4.3 rem;
    --h2-font : 2.2;
    --p-front:1rem;
}
.logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
}
.header{
    width: 100%;
    margin-right: 0;
}
.main-header{
    display: flex;
    gap: 1.5rem;
    margin-top: 30px;
}
.menu{
    display: flex;
    gap: 3rem;
    margin-left: 30px;

}
.menu li a:hover{
    color: brown;
    
}

.menu li a{
    display: flex;
    font-size: 15px;
}


.icons{
    display: flex;
    gap: 2rem;
    font-size: 20px;
    margin-right: 60px;
    margin-left: 60px;
}
.icons li:hover{
    color: brown;
}
.fa-solid.fa-list{
    font-weight: 600;
    color: black;
    font-size: 20px;
 

}
.fa-solid.fa-list:hover{
    color: brown; 
}
